.wrapper {
  display: flex;
  align-items: center;

  .changed {
    input {
      width: 100%;
      background: none;
      font-style: italic;
      line-height: 14px;
      font-size: 14px;
    }
  }

  .noChanged {
    span {
      width: 100%;
      font-style: italic;
      line-height: 14px;
      font-size: 14px;
    }
  }
}

.nostatus {
  text-decoration: underline;
}