.dialog {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  height: 50px;

  &:hover {
    transition: background 200ms;
    background: rgb(230, 230, 230);
  }

  &:focus {
    text-decoration: underline;
  }

  &.active {
    background: rgb(230, 230, 230);
  }
}