.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

.header {
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  p {
    padding: 5px;
  }

  .author {
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
  }

  .time {
    font-size: 10px;
  }
}

.content {
  font-size: 16px;
  white-space: pre-wrap;
  padding: 20px 60px 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 100%;
}

.comments, .likes {
  display: flex;
  align-items: center;

  img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }

  p {
    font-size: 16px;
  }
}