body {
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  //box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 0;
  }
  //
  //&::-webkit-scrollbar-track {
  //  background: transparent;
  //}
  //
  //&::-webkit-scrollbar-thumb {
  //  background: rgba(129, 129, 129, 50%);
  //  border-radius: 20px;
  //}
}

.appWrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  grid-area: main;
  width: 100%;
}