.nav {
  grid-area: nav;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgba(43, 43, 43, 0.3);
  height: 500px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
}

.item {
  font-size: 20px;
  padding: 5px 10px;
  user-select: none;

  &:not(:last-child) {
    border-bottom: 1px solid rgb(225, 225, 225);
  }

  a {
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    color: black;

    img {
      width: 20px;
      height: 20px;
    }

    p {
      margin-left: 20px;
    }
  }

  a:hover {
    font-weight: 500;
    transition: color 200ms;
    color: rgb(223, 73, 255);
  }

  a.active {
    font-weight: 500;
    color: rgb(223, 73, 255);
  }

  a:focus {
    text-decoration: underline;
  }
}
