.nav {
  grid-area: nav;
  padding: 10px;
  border-radius: 20px;
  height: 500px;
  background: linear-gradient(90deg, rgba(127,185,60,80%), rgba(158,231,74,60%));
}

.item {
  font-size: 20px;
  padding: 5px 10px;

  a {
    color: black;
  }

  a:hover {
    font-weight: 500;
  }
}

.item:last-child {
  padding-top: 40px;
}